h2 {
  color: #2c3e50;
  font-size: calc(3.325rem + .9vw) !important;
}

h3 {
  color: #FFFFFF !important;
  background-color: #D30E7F;
  font-size: calc(2.325rem + .9vw) !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Sticks at the very top */
  z-index: 20; /* Higher than h4 and h5 so they don't overlap */
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

h4 {
  color: #353939;
  background-color: #fff;
  font-size: calc(1.925rem + .9vw) !important;
  position: -webkit-sticky;
  position: sticky;
  top: 60px !important; /* Sticks just below h3 */
  z-index: 15; /* Lower than h3, but higher than h5 */
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

h5 {
  color: #000000 !important;
  background-color: #fff;
  font-size: calc(1.725rem + .9vw) !important;
  position: -webkit-sticky;
  position: sticky;
  top: 130px !important; /* Sticks below h4 */
  z-index: 10; /* Lower than h4 */
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar-entry-text {
  color: #353939 !important;
  font-size: calc(1.325rem + .9vw) !important;
}

h5.sidebar-h5 {
  font-size: calc(0.725rem + .9vw) !important;
}

h3.sidebar-h3 {
  font-size: calc(1.225rem + .9vw) !important;
}

.btn.btn-link {
  color: #D30E7F;
  font-size: calc(1.725rem + .9vw) !important;


}

div.progress-bar {
  background-color: #353939;
}

button.btn.btn-primary {
  background-color: #353939;
  border-color: #000000;
}

button.btn-warning:active {
  background-color: rgb(72, 71, 163) !important;
  border-color: rgb(64, 28, 221) !important;
  color: rgb(235, 175, 44) !important;
}

.custom-btn-warning {
  background-color: rgb(255, 162, 0) !important;
  border-color: rgb(255, 193, 7);
  color: white;
}

.custom-btn-warning:hover {
  background-color: rgb(255, 210, 40);
  border-color: rgb(255, 210, 40);
}

.custom-btn-warning:active,
.custom-btn-warning.active {
  background-color: rgb(72, 71, 163);
  border-color: rgb(64, 28, 221);
  color: white;
}

.custom-btn-secondary {
  background-color: #e6ebee;
  border-color: #6c757d;
  color: white;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.modal-content {
  font-size: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

root {
  width: 100vw !important;
}

.custom-navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  gap: 10px; /* Space between the items */
}

.custom-navbar .nav-item {
  margin-bottom: 5px; /* Space between items when wrapping to new line */
}

@media (max-width: 600px) {
  .custom-navbar .nav-item {
    flex-basis: 100%; /* Make each item full-width on very small screens */
  }
}

.sidebar {
  position: fixed; /* Fixes sidebar to the viewport */
  top: 20px;
  height: calc(100vh - 20px); /* Adjusts the height to fit within the viewport */
  overflow-y: auto; /* Enables vertical scrolling for the sidebar */
  padding: 10px;
  width: 250px; /* Adjust the width to fit your layout */
  background-color: #f8f9fa;
}

.main-content {
  margin-left: 270px; /* Adds margin to the main content to make room for the sidebar */
  padding: 20px;
}
